{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "modules": false
      }
    ],
    "react",
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "external-helpers"
  ]
}
